<h1>Burger Logger</h1>

{{!-- <h2>Cats that are not sleepy!</h2> --}}

<ul class="uneaten">
  {{#each burgers}}
    {{#unless this.devoured}}
    {{this.id}}{{this.burger_name}}
      {{!-- {{button here}} --}}
    {{/unless}}
  {{/each}}
</ul>

{{!-- <h2>Cats that are sleepy!</h2> --}}

<ul class="devoured">
  {{#each burgers}}
    {{#if this.devoured}}
    {{this.id}}{{this.burger_name}}
      {{!-- {{> cats/cat-block sleep=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Create Burger</h2>
<form class="create-form1">
  <div class="form-group">
    <input id="burger" type="text"></input>
    {{!-- <label for="slee"></label><br> --}}
    {{!-- <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake --}}
  </div>
  <button type="submit" class="create-form">Submit</button>
</form>